    {% extends 'main/layout.html' %}
    {% block container %}
        <div class="container pb-5">
            <div class="d-flex flex-column flex-lg-row justify-content-between align-items mt-5">
                <div class="d-flex flex-column mt-3 col-lg-5">
                    <h2 class="fw-bold">SEARCH</h2>
                    <input type="text" class="rounded col-md-6 mt-3 search-bar" placeholder="JavaScript, Flask, HTML5, CSS3">
                    <ul class="mt-5">
                        {% for key, val in categories.items() %}
                            <li class="d-flex justify-content-between align-items-start col-6 py-1">
                            <span class="fw-bold text-muted">{{key}}</span> 
                            <span class="badge bg-primary rounded-pill">{{val}}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="d-flex flex-column col-lg-7 mt-5">
                    {% for article in articles.items %}
                        <div class="d-flex my-3 wrap flex-column flex-lg-row col-12">
                            <div class="ms-lg-5 mt-3 mt-lg-0">
                                <h2 class="fw-bold">{{article.title|title}}{{flask}}</h2>
                                <h5 class="text-secondary">
                                    {% for subject in article.subjects %}
                                        <span>#{{subject}}</span>
                                    {% endfor %}
                                </h5>
                                <p class="article-list">{{article.content|safe|truncate(length=255, killwords=False, end="...")}}</p>
                                <span class="text-muted">{{article.date_last_modified.strftime('%Y-%m-%d')}}</span>
                                <div class="col-12 my-3">
                                    <a class="btn btn-primary fw-bold" data-id="{{article.id}}" href="{{url_for('main.article_detailed', id=article.id)}}">
                                        READ MORE
                                    </a>
                                </div>
                            </div>
                        </div>
                        <hr class="border border-2 border-secondary">
                    {% endfor %}
                    <div class="container d-flex justify-content-center mb-3">

                    {% for page_num in articles.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                        {% if page_num.total != 1 %}
                        {% if page_num %}
                            {% if articles.page == page_num %}
                            <a class="btn btn-primary mb-4 mx-2" href="{{ url_for('main.articles', page=page_num) }}">{{ page_num }}</a>
                            {% else %}
                            <a class="btn btn-outline-primary mb-4 mx-2" href="{{ url_for('main.articles', page=page_num) }}">{{ page_num }}</a>
                            {% endif %}
                        {% else %}
                            ...
                        {% endif %}
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>   
    {% endblock %}