    {% extends 'admin/layout.html' %}
    {% block container %}
        <div class="container">
            {% for project in projects.items %}
                    <div class="d-flex my-5 wrap flex-column flex-lg-row">
                        {% if project.image %}
                            <img src="{{url_for('static', filename=project.image)}}" class="col-lg-4 img-thumbnail">
                        {% endif %}
                        <div class="ms-lg-5 mt-5 mt-lg-0 col-lg-8">
                            <h2 class="fw-bold">{{project.title|title}}</h2>
                            <p class="article-list">{{project.content|safe|truncate(length=255, killwords=False, end="...")}}</p>
                            <span class="text-muted">{{project.date_last_modified.strftime('%Y-%m-%d')}}</span>
                            <div class="col-12 my-4">
                                <button class="btn btn-primary fw-bold" data-id="{{project.id}}">UPDATE</button>
                                <button class="btn btn-danger fw-bold" data-id="{{project.id}}">DELETE</button>
                            </div>
                        </div>
                    </div>
                    <hr class="border border-2 border-secondary">
                {% endfor %}
                <div class="container d-flex justify-content-center mb-3">
                {% for page_num in projects.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                {% if page_num.total != 1 %}
                {% if page_num %}
                    {% if projects.page == page_num %}
                      <a class="btn btn-primary mb-4 mx-2" href="{{ url_for('main.projects', page=page_num) }}">{{ page_num }}</a>
                    {% else %}
                      <a class="btn btn-outline-primary mb-4 mx-2" href="{{ url_for('main.projects', page=page_num) }}">{{ page_num }}</a>
                    {% endif %}
                  {% else %}
                    ...
                  {% endif %}
                {% endif %}
                {% endfor %}
                </div>
        </div> 
    {% endblock %}    
