    {% extends 'admin/layout.html' %}
    {% block container %}
        <div class="container">
          <div class="project-container">
                        {% for project in projects.items %}
                    <div class="d-flex my-5 wrap flex-column flex-lg-row">
                          <img src="{{project.image}}" class="col-lg-4 img-thumbnail img-fluid">
                        <div class="ms-lg-5 mt-5 mt-lg-0 col-lg-8">
                            <h4 class="fw-bold uppercase">{{project.title|title}}</h4>
                            <p class="article-list">{{project.content|safe|truncate(length=255, killwords=False, end="...")}}</p>
                            <span class="text-muted">{{project.date_last_modified.strftime('%Y-%m-%d')}}</span>
                            <div class="col-12 my-4">
                                <a class="btn btn-primary fw-bold" data-id="{{project.id}}" href="{{url_for('admin.update_content', id=project.id)}}">UPDATE</a>
                                <a type="button" class="btn btn-danger fw-bold" data-id="{{project.id}}" data-bs-toggle="modal" data-bs-target="#confirmationModal-{{project.id}}">DELETE</a>
                                <!--Modal Starts-->
                                <div class="modal fade" id="confirmationModal-{{project.id}}" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h5 class="modal-title" id="confirmationModalLabel">Delete</h5>
                                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                          Are you sure?
                                        </div>
                                        <div class="modal-footer">
                                          <a type="button" class="btn btn-secondary" data-bs-dismiss="modal">BACK</a>
                                          <a type="button" class="btn btn-primary" href="{{url_for('admin.delete_content', id=project.id)}}">DELETE</a>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <!--Modal Ends-->
                            </div>
                        </div>
                    </div>
                    <hr class="border border-2 border-secondary">
                {% endfor %}
          </div>
                <div class="container d-flex justify-content-center mb-3 page-num">
                {% for page_num in projects.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                {% if page_num.total != 1 %}
                {% if page_num %}
                    {% if projects.page == page_num %}

                      <!--<a class="btn btn-primary mb-4 mx-2" href="{{ url_for('main.projects', page=page_num) }}">{{ page_num }}</a>-->
                      {% else %}
                      <!--<a class="btn btn-outline-primary mb-4 mx-2" href="{{ url_for('main.projects', page=page_num) }}">{{ page_num }}</a>-->
                    {% endif %}
                  {% else %}
                    ...
                  {% endif %}
                {% endif %}
                {% endfor %}
                </div>
        </div> 
    {% endblock %}    
